@charset"UTF-8";

body, p, h1, ul, li, blockquote {
    padding: 0px;
    margin: 0px
  }

body {
    font-family: 'Vollkorn', Georgia, serif;
    background-color: #dcdcdd;
}

.container {
    display: grid;
    grid-template-columns: 3fr minmax(160px, 1fr);
    grid-gap: 5px;
    grid-template-areas: "h h"
                         "m a"
                         "f f";
}

/*HEADER*/
header{
    grid-area: h;
    background: linear-gradient(135deg, #780000, #c1121f);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0px 30px 0px 20px;
}

.logo {
    max-width: 200px;
}

.header nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
	text-transform: lowercase;
}

.header li + li {
    margin-left: 15px;
}

.header nav a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.123em;
    background: rgba(0,0,0,.1);
    border-radius: 5px;
    transition: 0.5s;
}

.header nav a:hover {
    background: rgba(0,0,0,.5);
}

/*CONTENT*/

.content {
    background-color: #dcdcdd;
    grid-area: m;
    max-width: 900px;
    padding: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.col-wide {
    grid-column: 1 / -1;
}

/*Title*/

.title {
    color: #c1121f;
    grid-column: 1 / -1;
  }
  
  .title h1 {
    font-size: 3.75em;
    line-height: 1;
    font-weight: 700;
  }
  
  .title span {
    font-size: 0.875em;
    font-style: italic;
  }

  /*Estilos Content*/
p {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0,0,0,.7);
}

img.movie-image{
    width: 100%;
    justify-self: center;
    align-self: center;

}

.movie-details, .quotes {
    align-self: start;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    background: linear-gradient(135deg, #780000, #772e25);

}
.quotes p {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    color: white;
    max-width: 500px;
    margin: 0 auto;
  }
  
.movie-details li {
    color: white;
    font-family: Courier, monospace;
    font-size: 1.125em;
    padding: 15px;
  }
/*FOOTER*/

.footer{
    background: linear-gradient(135deg, #46494c, #4c5c68);
    height: 100px;
    grid-area: f;
}

.footer p{
    color: white;
    text-align: center;
    padding: 30px;
}
